{% load static %}
<div id="carouselExampleCaptions" class="carousel slide mb-5" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://source.unsplash.com/900x400/?turkey,dark" class="d-block w-100 rounded" alt="...">
            <div class="carousel-caption">
                <h1 class="font-weight-light">Açık Veri Türkiye Nedir?</h1>
                <div class="d-none d-md-block">
                    <p>Türkiye'deki kurumlar ve iş dünyası tarafından sağlanan verilerin anonimleşirildikten sonra başta yapay zeka ve akademik araştırmalarını desteklemek üzere halka sunulduğu bir platformdur.</p>
                    <a class="btn btn-info" href="#">Daha fazla bilgi için!</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="row bg-white p-4 shadow rounded align-items-center mt-3 mb-5">
    <div class="col-12 text-center mb-4">
        <h1 class="font-weight-light">Açık Veri Türkiye Nedir?</h1>
    </div>
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static '/images/homepage-img.jpg' %}" alt="">

    </div>
    <div class="col-lg-5">
        <p>Türkiye'deki kurumlar ve iş dünyası tarafından sağlanan verilerin anonimleşirildikten sonra başta yapay zeka ve akademik araştırmalarını desteklemek üzere halka sunulduğu bir platformdur.</p>
        <a class="btn btn-info" href="#">Daha fazla bilgi için!</a>
    </div>

</div>
-->